@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Darin Clark.net</h1>
    <p>I hope to turn this into a maintained blog.</p>
</div>
